span{
    /* 颜色表示的关键字写法 */
    /* color: gray; */

    /* RGB表示法 */
    color: rgb(0, 178, 178);

    /* RGBA表示法（最后一个值是透明度，0是直接透明，1是不透明） */
    /* color: rgba(0, 0, 255, 0.5); */

    /* 十六进制表示法 */
    /* color: #0000ff; */

    /* 十六进制表示法简化写法 */
    /* color: #00f; */
}

p{
    /* 设置行高为2 */
    line-height: 2;

    /* 设置首行两格缩进 */
    text-indent: 2em;
}